body {
  text-align: center;
  font-size: 25px;
}

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

p {
  color: red;
}

ol .note {
  color: black;
}

#id-selector-demo {
  color: green;
}

li[value="4"] {
  color: blue;
}